<section class="about-conteiner" id="about-section">
    <div class="about">
        <div class="about-text-content">
            <h2 class="about-title">YachtJet fleet is here to take you on the ultimate adventure</h2>
            <div class="about-text-list">
                <p class="about-text-1">From spacious decks to state-of-the-art technology, our yachts are designed to
                    provide the perfect blend
                    of
                    luxury and
                    functionality.</p>
                <p class="about-text-2">Take a look at our selection below and choose the yacht that matches your needs
                    and
                    preferences.No matter
                    which yacht
                    you choose, our experienced crew will ensure that your journey is smooth and enjoyable. Book now and
                    get
                    ready for an
                    unforgettable adventure on the high seas.</p>
            </div>
        </div>
        <div class="about-img-blok">
            <img class="about-img-mobile" srcset="./img/about/about-mobile@2x.jpg 2x" src="./img/about/about-mobile.jpg"
                alt="our-yacht" />
            <img class="about-img-desktop" srcset="./img/about/about-desc@2x.jpg 2x" src="./img/about/about-desc.jpg"
                alt="our-yacht" />
            <img class="about-img-laptop1" srcset="./img/about/about-laptop1@2x.jpg 2x"
                src="./img/about/about-laptop1.jpg" alt="our-yacht" />
            <img class="about-img-laptop2" srcset="./img/about/about-laptop2@2x.jpg 2x"
                src="./img/about/about-laptop2.jpg" alt="our-yacht" />
        </div>
    </div>
</section>