<section class="advantades-section">
  <div class="advantades-wrapper">
    <h2 class="advantages-title visually-hidden">Advantages</h2>
    <div class="advantades-point">
      <ol class="advantades-list">
        <li class="list">
          <h3 class="advantades-number">01</h3>
          <p class="advantades-text first-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li>
          <h3 class="advantades-number">02</h3>
          <p class="advantades-text">Fishing: try to catch your own dinner</p>
        </li>
        <li>
          <h3 class="advantades-number">03</h3>
          <p class="advantades-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li>
          <h3 class="advantades-number">04</h3>
          <p class="advantades-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <picture>
      <source srcset="
              ../img/advantages/advantages-desk.jpg    1x,
              ../img/advantages/advantages-desk@2x.jpg 2x
            " media="(min-width: 1440px)" />
      <source srcset="
              ../img/advantages/advantages-laptop.jpg    1x,
              ../img/advantages/advantages-laptop@2x.jpg 2x
            " media="(min-width: 1280px)" />
      <source srcset="
              ../img/advantages/advantages-tablet.jpg   1x,
              ../img/advantages/advantages-tablet@2x.jpg 2x
            " media="(min-width: 768px)" />
      <source srcset="
              ../img/advantages/advantages-mobile.jpg    1x,
              ../img/advantages/advantages-mobile@2x.jpg 2x
            " media="(max-width: 767px)" />
      <img src="../img/advantages/advantages-mobile.jpg " alt="yacht arrow" />
    </picture>
  </div>
</section>