<header class="header">
    <div class="header-container">
        <nav class="header-navigation">
            <a class="header-logotype" href="./index.html">yachtjet
            </a>
            <ul class="header-nav-list">
                <li class="header-nav-list-item">
                    <a class="header-nav-list-item-link" href="#about-section">about
                    </a>
                </li>
                <li class="header-nav-list-item">
                    <a class="header-nav-list-item-link" href="#yacht-rental">yachts
                    </a>
                </li>
                <li class="header-nav-list-item">
                    <a class="header-nav-list-item-link" href="#reviews-section">reviews
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header-social-media">
            <ul class="header-social-media-list">
                <li class="header-social-media-list-item">
                    <a href="https://www.instagram.com/goitclub/" class="header-social-media-list-item-link">
                        <svg class="header-svg" width="24" height="24" aria-label="instagram page">
                            <use href="./img/sprite.svg#icon-ph_instagram-logo-fill"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-social-media-list-item">
                    <a href="https://www.youtube.com/c/GoIT" class="header-social-media-list-item-link">
                        <svg class="header-svg" width="24" height="24" aria-label="youtube page">
                            <use href="./img/sprite.svg#icon-entypo-social_youtube-with-circle"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-social-media-list-item">
                    <a href="https://www.facebook.com/goITclub/" class="header-social-media-list-item-link">
                        <svg class="header-svg" width="24" height="24" aria-label="facebook page">
                            <use href="./img/sprite.svg#icon-ic_outline-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <button class="header-mobile-menu-open-btn" type="button">
            <svg class="mobile-menu-open-btn-icon" width="28" height="28" aria-label="open menu button" data-menu-open>
                <use href="../img/sprite.svg#icon-ci_menu-duo-lg"></use>
            </svg>
            <svg class="header-mobile-menu-close" width="28" height="28" aria-label="close menu button" data-menu-close>
                <use href="../img/sprite.svg#icon-ion_close-sharp"><a class="close-link" href="../index.html"></a></use>
            </svg>
        </button>
    </div>
</header>