<section class="menu is-hidden" data-menu>
  <div class="menu_modal menu-wrapper">
    <header class="header menu-header">
      <div class="header-container">
        <nav class="header-navigation">
          <a class="header-logotype" href="./index.html">yachtjet
          </a>
          <ul class="header-nav-list">
            <li class="header-nav-list-item">
              <a class="header-nav-list-item-link" href="#about-section">about
              </a>
            </li>
            <li class="header-nav-list-item">
              <a class="header-nav-list-item-link" href="#yacht-rental">yachts
              </a>
            </li>
            <li class="header-nav-list-item">
              <a class="header-nav-list-item-link" href="#reviews-section">reviews
              </a>
            </li>
          </ul>
        </nav>
        <div class="header-social-media">
          <ul class="header-social-media-list">
            <li class="header-social-media-list-item">
              <a href="https://www.instagram.com/goitclub/" class="header-social-media-list-item-link">
                <svg class="header-svg" width="24" height="24" aria-label="instagram page">
                  <use href="./img/sprite.svg#icon-ph_instagram-logo-fill"></use>
                </svg>
              </a>
            </li>
            <li class="header-social-media-list-item">
              <a href="https://www.youtube.com/c/GoIT" class="header-social-media-list-item-link">
                <svg class="header-svg" width="24" height="24" aria-label="youtube page">
                  <use href="./img/sprite.svg#icon-entypo-social_youtube-with-circle"></use>
                </svg>
              </a>
            </li>
            <li class="header-social-media-list-item">
              <a href="https://www.facebook.com/goITclub/" class="header-social-media-list-item-link">
                <svg class="header-svg" width="24" height="24" aria-label="facebook page">
                  <use href="./img/sprite.svg#icon-ic_outline-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <button class="header-mobile-menu-open-btn" type="button">
          <svg class="mobile-menu-close-btn-icon" width="28" height="28" aria-label="close menu button" data-menu-close>
            <use href="../img/sprite.svg#icon-ion_close-sharp"></use>
          </svg>
        </button>
      </div>
    </header>

    <nav class="modal_nav">
      <ul class="modal_nav_list" data-menu-close>
        <li class="modal_nav_item" data-menu-close>
          <a class="modal_nav_link curent" href="#about-section" data-menu-close>about </a>
        </li>
        <li class="modal_nav_item" data-menu-close>
          <a class="modal_nav_link" href="#yachts-section" data-menu-close>yachts </a>
        </li>
        <li class="modal_nav_item" data-menu-close>
          <a class="modal_nav_link" href="#reviews-section" data-menu-close>reviews </a>
        </li>
      </ul>
    </nav>
    <div class="mobile_social">
      <ul class="mobile_social_list">
        <li class="mobile_social_item">
          <a href="https://www.instagram.com/goitclub/" class="header-social-media-list-item-link">
            <svg class="mobile_svg" width="24" height="24" aria-label="instagram page">
              <use href="../img/sprite.svg#icon-ph_instagram-logo-fill"></use>
            </svg>
          </a>
        </li>
        <li class="mobile_social_item">
          <a href="https://www.instagram.com/goitclub/" class="header-social-media-list-item-link">
            <svg class="mobile_svg" width="24" height="24" aria-label="instagram page">
              <use href="../img/sprite.svg#icon-entypo-social_youtube-with-circle"></use>
            </svg>
          </a>
        </li>
        <li class="mobile_social_item">
          <a href="https://www.facebook.com/goitclub/" class="header-social-media-list-item-link">
            <svg class="mobile_svg" width="24" height="24" aria-label="instagram page">
              <use href="./img/sprite.svg#icon-ic_outline-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>