<section class="rent-yacht">
    <div class="container-rent">
    <div class="rentdiv-part-first">
       <img src="./img/rent/rent-desc.jpg" srcset="./img/rent/rent-desc@2x.jpg 2x" alt="rent-a-yacht"
                width="768"
                height="536"
                class="image-rent-1x"
              />
              <div class="rentdiv-part-second">
              <h2 class="rent-h">Rent a yacht now</h2>
   <form class="rent-form">
    <div class="label-one"><label class="label-rent"></label><input id="user-name" type="text" name="user-name" class="rent-inp" placeholder="Full Name"></div>
<div class="label-one"><label class="label-rent"></label><input id="user-email" type="email" name="user-email" class="rent-inp" placeholder="Email"></div>
<div class="label-one"><label class="label-rent"></label><input id="user-phone" type="tel" name="user-phone" class="rent-inp" placeholder="Phone number"></div>
<div class="label-one"><label class="label-rent"></label><textarea id="user-comment" type="text" name="user-comment" placeholder="Comment" class="area-inp"></textarea></div>
   </form>
    <button type="submit" class="submit-form">Send</button>
    </div>
    </div>
</section>
