<section class="rent-yacht">
    <div class="container-rent">
    <div class="rent-pt-one">
        <img src="">
    </div>
    <div class="rent-pt-two">
    <h1 class="rent-h">Rent a yacht now</h1>
   <form class="rent-form">
    <div class="label-one"><label class="label-rent">Full Name</label><input id="user-name" type="text" name="user-name" class="rent-inp"></div>
<div class="label-one"><label class="label-rent">Email</label><input id="user-email" type="email" name="user-email" class="rent-inp"></div>
<div class="label-one"><label class="label-rent">Phone-number</label><input id="user-phone" type="tel" name="user-phone" class="rent-inp"></div>
<div class="label-one"><label class="label-rent">Comment</label><textarea id="user-comment" type="text" name="user-comment" placeholder="Text input" class="area-inp"></textarea></div>
   </form>
    <button type="submit" class="submit-form">Send</button>
    </div>
</section>