<section class="rent-yacht" id="yacht-rental">
  <div class="container-rent">
    <div class="rentdiv-part-first">
      <picture>
        <source srcset="
                  ./img/rent/rent-desc.jpg    1x,
                  ./img/rent/rent-desc@2x.jpg 2x
                " media="(min-width: 1440px)" />
        <source srcset="
                  ./img/rent/rent-laptop1.jpg    1x,
                  ./img/rent/rent-laptop1@2x.jpg 2x
                " media="(min-width: 1280px)" />
        <source srcset="
                  ./img/rent/rent-laptop2.jpg   1x,
                  ./img/rent/rent-laptop2@2x.jpg 2x
                " media="(min-width: 768px)" />
        <source srcset="
                  ./img/rent/rent-mobile.jpg    1x,
                  ./img/rent/rent-mobile@2x.jpg 2x
                " media="(max-width: 767px)" />
        <img src="./img/rent/rent-mobile.jpg " alt="yacht arrow" />
      </picture>
    </div>
    <div class="rentdiv-part-second">
      <h2 class="rent-h">Rent a yacht now</h2>
      <form class="rent-form">
        <div class="label-one"><label class="label-rent"></label><input id="user-name" type="text" name="user-name"
            class="rent-inp" placeholder="Full Name"></div>
        <div class="label-one"><label class="label-rent"></label><input id="user-email" type="email" name="user-email"
            class="rent-inp" placeholder="Email"></div>
        <div class="label-one"><label class="label-rent"></label><input id="user-phone" type="tel" name="user-phone"
            class="rent-inp" placeholder="Phone number"></div>
        <div class="label-one"><label class="label-rent"></label><textarea id="user-comment" name="user-comment"
            placeholder="Comment" class="area-inp"></textarea></div>
      </form>
      <button type="submit" class="submit-form">Send</button>
    </div>
  </div>
</section>