<section class="main-reviews" id="reviews-section">
    <div class="container-reviews">
        <h2 class="main-reviews-name">YachtJet take pride in providing the best possible service and experience to our
            customers</h2>
        <p class="main-reviews-note">
            Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to
            find out
            what they have to say about their journey with us.
        </p>

        <ul class="main-reviews-comment">
            <li class="reviews-comment-item">
                <div class="reviews-user">


                    <img class="reviews-photo" srcset="
                            ./img/reviews/john.jpg 1x,
                            ./img/reviews/john@2x.jpg 2x " src="./img/reviews/john.jpg" alt="John Wax" width="56" />

                    <h3 class="reviews-user-name">John Wax</h3>
                    <p class="reviews-user-text">I rented the Lagoon 620 with my family for a week-long vacation and it
                        was the best decision ever. The yacht was
                        spacious, comfortable, and luxurious, and the crew took care of everything.</p>
                </div>
            </li>
            <li class="reviews-comment-item">
                <div class="reviews-user">
                    <img class="reviews-photo" srcset="
                            ./img/reviews/victoria.jpg 1x,
                            ./img/reviews/victoria@2x.jpg 2x " src="./img/reviews/victoria.jpg" alt="John Wax"
                        width="56" />

                    <h3 class="reviews-user-name">Victoria Romashenko</h3>
                    <p class="reviews-user-text">The Sunseeker Manhattan 66 was the perfect choice for our romantic
                        getaway. The yacht was beautifully designed, with all
                        the amenities we needed, and the crew was attentive and friendly.</p>
                </div>
            </li>
            <li class="reviews-comment-item">
                <div class="reviews-user">
                    <img class="reviews-photo" srcset="
                            ./img/reviews/ihor.jpg 1x,
                            ./img/reviews/ihor@2x.jpg 2x " src="./img/reviews/ihor.jpg" alt="John Wax" width="56" />

                    <h3 class="reviews-user-name">Ihor Trachuk</h3>
                    <p class="reviews-user-text">The Azimut 80 was the most luxurious yacht I've ever been on. The
                        cabins were spacious and elegant, and the outdoor
                        areas were perfect for relaxing and entertaining. Worth every penny!</p>
                </div>
            </li>
        </ul>
    </div>
</section>