<section class="our-yachts container">
  <div class="our-yachts-container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
  <div class="wrapper-list">
    <ul class="our-yachts-list list">
    <li class="list-yacht-item">
<div class="wrapper-list_item">
  <picture> 
              <source media="(max-width:767px)" srcset="../img/our-yachts/ouryaht-mobile.jpg, ../img/our-yachts/ouryaht-mobile@2x.jpg">
              
              
              <source media="(max-width:1199px)" srcset="../img/our-yachts/ouryaht-laptop23.jpg, ../img/our-yachts/ouryaht-laptop23@2x.jpg">

             
              <source media="(min-width:1200px)" srcset="../img/our-yachts/ouryaht-desc1.jpg, ../img/our-yachts/ouryaht-desc1@2x.jpg">
             
             
              <img class="team-img" src="#" alt="фото-сотрудника">
            </picture>
</div>
<div class="wrapper-list-item_content">
  <div class="wrapper-list-item_text border">
    <p>ARROW</p>
  <p>LUXURY YAHTS</p>
</div>
  <div class="wrapper-list-item_text">
  <div class="gap">
    <p>Length</p>
    <p>Builder</p>
    <p>Built</p>
    <p>Guests</p>
    <p>Price</p>
  </div>
  <div class="gap">
    <p>48m(155ft)</p>
    <p>Admiral</p>
    <p>2021</p>
    <p>11 in 5 cabins</p>
    <p>€33,500,000</p>
  </div>
  </div>
</div>
  </li>



 <li class="list-yacht-item">
<div class="wrapper-list_item">
  <picture> 
              <source media="(max-width:767px)" srcset="../img/our-yachts/ouryaht-mobile.jpg, ../img/our-yachts/ouryaht-mobile@2x.jpg">
              
              
              <source media="(max-width:1199px)" srcset="../img/our-yachts/ouryaht-laptop23.jpg, ../img/our-yachts/ouryaht-laptop23@2x.jpg">

             
              <source media="(min-width:1200px)" srcset="../img/our-yachts/ouryaht-desc1.jpg, ../img/our-yachts/ouryaht-desc1@2x.jpg">
             
             
              <img class="team-img" src="#" alt="yachts">
            </picture>
          </div>
<div class="wrapper-list-item_content">
  <div class="wrapper-list-item_text border">
    <p>BENETTI OASIS 40M </p>
  <p>LUXURY YAHTS</p>
</div>
  <div class="wrapper-list-item_text">
  <div class="gap">
    <p>Length</p>
    <p>Builder</p>
    <p>Built</p>
    <p>Guests</p>
    <p>Price</p>
  </div>
  <div class="gap">
    <p>41m (133ft)</p>
    <p>Benetti</p>
    <p>2025</p>
    <p>10 in 5 cabins</p>
    <p>€23,210,000</p>
  </div>
  </div>
</div>
  </li>

  <li class="list-yacht-item">
<div class="wrapper-list_item" >
  <picture class="our-yacht-img"> 
              <source media="(max-width:767px)" srcset="../img/our-yachts/ouryaht-mobile.jpg, ../img/our-yachts/ouryaht-mobile@2x.jpg">
              
              
              <source media="(max-width:1199px)" srcset="../img/our-yachts/ouryaht-laptop23.jpg, ../img/our-yachts/ouryaht-laptop23@2x.jpg">

             
              <source media="(min-width:1200px)" srcset="../img/our-yachts/ouryaht-desc1.jpg, ../img/our-yachts/ouryaht-desc1@2x.jpg">
             
             
              <img class="team-img" src="#" alt="фото-сотрудника">
            </picture>
          </div>
<div class="wrapper-list-item_content">
  <div class="wrapper-list-item_text border">
    <p>BELLE ANNA</p>
  <p>LUXURY YAHTS</p>
</div>
  <div class="wrapper-list-item_text">
  <div class="gap">
    <p>Length</p>
    <p>Builder</p>
    <p>Built</p>
    <p>Guests</p>
    <p>Price</p>
  </div>
  <div class="gap">
    <p>50m(155ft)</p>
    <p>ISA</p>
    <p>2012</p>
    <p>12 in 6 cabins</p>
    <p>€21,000,000</p>
  </div>
</div>
</div>
  </li>
</ul>
</div>
   
 
</section>
