<section class="our-yachts-section" id="yacht-section">
  <div class="container-our-yachts">
    <h2 class="title-our-yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              ./img/our-yachts/yacht1-desk1440.jpg    1x,
              ./img/our-yachts/yacht1-desk1440@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/our-yachts/yacht1-desk1280.jpg    1x,
              ./img/our-yachts/yacht1-desk1280@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/our-yachts/yacht1-tablet.jpg   1x,
              ./img/our-yachts/yacht1-tablet2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/our-yachts/yacht1-mobile.jpg    1x,
              ./img/our-yachts/yacht1-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/our-yachts/yacht1-mobile.jpg " alt="yacht arrow" />
        </picture>
        <div class="detail-our-yacht">
          <div class="title-detail-our-yacht">
            <h3 class="our-yacht-name">Arrow</h3>
            <p class="our-yacht-segment">luxury yachts</p>
          </div>
          <div class="our-yacht-info">
            <div class="our-yacht-info-details-left">
              <p>length</p>
              <p>builder</p>
              <p>built</p>
              <p>guests</p>
              <p>price</p>
            </div>
            <div class="our-yacht-info-details-right">
              <p>48m(155ft)</p>
              <p>Admiral</p>
              <p>2021</p>
              <p>11 in 5 cabins</p>
              <p>€33,500,000</p>
            </div>
          </div>
        </div>
      </li>
      <li class="our-yachts-item benetti">
        <picture>
          <source
            srcset="
              ./img/our-yachts/yacht2-desk1440.jpg    1x,
              ./img/our-yachts/yacht2-desk1440@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/our-yachts/yacht2-desk1280.jpg    1x,
              ./img/our-yachts/yacht2-desk1280@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/our-yachts/yacht2-tablet.jpg   1x,
              ./img/our-yachts/yacht2-tablet2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./img/our-yachts/yacht2-tablet.jpg" alt="yacht benetti" />
        </picture>
        <div class="detail-our-yacht">
          <div class="title-detail-our-yacht">
            <h3 class="our-yacht-name">Benetti Oasis 40M BO122</h3>
            <p class="our-yacht-segment">luxury yachts</p>
          </div>
          <div class="our-yacht-info">
            <div class="our-yacht-info-details-left">
              <p>length</p>
              <p>shipyard</p>
              <p>built</p>
              <p>guests</p>
              <p>price</p>
            </div>
            <div class="our-yacht-info-details-right">
              <p><span class="span">41m (133ft)</span></p>
              <p>Benetti</p>
              <p>2025</p>
              <p>10 in 5 cabins</p>
              <p>€23,210,000</p>
            </div>
          </div>
        </div>
      </li>
      <li class="our-yachts-item belle">
        <img
          srcset="./img/our-yachts/yacht3-desk1280@2x.jpg 2x"
          src="./img/our-yachts/yacht3-desk1280.jpg"
          alt="designer yacht"
          width="345"
          height="268"
        />
        <div class="detail-our-yacht">
          <div class="title-detail-our-yacht">
            <h3 class="our-yacht-name">Belle Anna</h3>
            <p class="our-yacht-segment">luxury yachts</p>
          </div>
          <div class="our-yacht-info">
            <div class="our-yacht-info-details-left">
              <p>length</p>
              <p>shipyard</p>
              <p>built</p>
              <p>guests</p>
              <p>price</p>
            </div>
            <div class="our-yacht-info-details-right">
              <p>50m(155ft)</p>
              <p>ISA</p>
              <p>2012</p>
              <p>12 in 6 cabins</p>
              <p>€21,000,000</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a class="link-rental-our-yacht" href="#yacht-rental">Yacht rental</a>
  </div>
</section>
