<section class="container">
  <h2 class="choose-yacht">
    Choose your dream yacht and sail away into the sunset
  </h2>

  <ul class="yacht-list">
    <li class="yacht-list-item">
      <div class="yacht-card">
        <picture>
          <source
            media="(min-width: 1281px) and (max-width: 1440px)"
            srcset="../img/our-yachts/yacht1-desk1280@2x.jpg"
          />
          <source
            media="(min-width: 769px) and (max-width: 1280px)"
            srcset="../img/our-yachts/yacht1-tablet@2x.jpg"
          />
          <source
            media="(min-width: 376px) and (max-width: 768px)"
            srcset="../img/our-yachts/yacht1-mobile@2x.jpg"
          />
          <source
            media="(max-width: 375px)"
            srcset="../img/our-yachts/yacht1-mobile.jpg"
          />
          <img
            src="../img/our-yachts/yacht1-desk1280.jpg"
            alt="Yacht Arrow"
            class="yacht-image"
          />
        </picture>

        <div class="yacht-info">
          <div class="yacht-details">
            <div class="detail detail-border">
              <p class="yacht-name">ARROW</p>
              <p class="yacht-category">LUXURY YACHTS</p>
            </div>
            <div class="detail">
              <p class="detail-property">LENGTH</p>
              <p class="detail-property-value">48m (155ft)</p>
            </div>
            <div class="detail">
              <p class="detail-property">BUILDER</p>
              <p class="detail-property-value">Admiral</p>
            </div>
            <div class="detail">
              <p class="detail-property">BUILT</p>
              <p class="detail-property-value">2021</p>
            </div>
            <div class="detail">
              <p class="detail-property">GUESTS</p>
              <p class="detail-property-value">11 in 5 cabins</p>
            </div>
            <div class="detail">
              <p class="detail-property">PRICE</p>
              <p class="detail-property-value">€33,500,000</p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="yacht-card">
        <picture>
          <source
            media="(min-width: 1281px) and (max-width: 1440px)"
            srcset="../img/our-yachts/yacht2-desk1280@2x.jpg"
          />
          <source
            media="(min-width: 769px) and (max-width: 1280px)"
            srcset="../img/our-yachts/yacht2-tablet@2x.jpg"
          />
          <source
            media="(min-width: 376px) and (max-width: 768px)"
            srcset="../img/our-yachts/yacht2-mobile@2x.jpg"
          />
          <source
            media="(max-width: 375px)"
            srcset="../img/our-yachts/yacht2-mobile.jpg"
          />
          <img
            src="../img/our-yachts/yacht2-desk1280.jpg"
            alt="Yacht Arrow"
            class="yacht-image"
          />
        </picture>
        <div class="yacht-info">
          <div class="yacht-details">
            <div class="detail detail-border">
              <p class="yacht-name">BENETTI OASIS 40M B</p>
              <p class="yacht-category">LUXURY YACHTS</p>
            </div>
            <div class="detail">
              <p class="detail-property">LENGTH</p>
              <p class="detail-property-value">41m (133ft)</p>
            </div>
            <div class="detail">
              <p class="detail-property">BUILDER</p>
              <p class="detail-property-value">Benetti</p>
            </div>
            <div class="detail">
              <p class="detail-property">BUILT</p>
              <p class="detail-property-value">2025</p>
            </div>
            <div class="detail">
              <p class="detail-property">GUESTS</p>
              <p class="detail-property-value">10 in 5 cabins</p>
            </div>
            <div class="detail">
              <p class="detail-property">PRICE</p>
              <p class="detail-property-value">€23,210,000</p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="yacht-card">
        <picture>
          <source
            media="(min-width: 1281px) and (max-width: 1440px)"
            srcset="../img/our-yachts/yacht3-desk1280@2x.jpg"
          />
          <source
            media="(min-width: 769px) and (max-width: 1280px)"
            srcset="../img/our-yachts/yacht3-tablet@2x.jpg"
          />
          <source
            media="(min-width: 376px) and (max-width: 768px)"
            srcset="../img/our-yachts/yacht3-mobile@2x.jpg"
          />
          <source
            media="(max-width: 375px)"
            srcset="../img/our-yachts/yacht3-mobile.jpg"
          />
          <img
            src="../img/our-yachts/yacht3-desk1280.jpg"
            alt="Yacht Arrow"
            class="yacht-image"
          />
        </picture>
        <div class="yacht-info">
          <div class="yacht-details">
            <div class="detail detail-border">
              <p class="yacht-name">BELLE ANNA</p>
              <p class="yacht-category">LUXURY YACHTS</p>
            </div>
            <div class="detail">
              <p class="detail-property">LENGTH</p>
              <p class="detail-property-value">50m(155ft)</p>
            </div>
            <div class="detail">
              <p class="detail-property">BUILDER</p>
              <p class="detail-property-value">ISA</p>
            </div>
            <div class="detail">
              <p class="detail-property">BUILT</p>
              <p class="detail-property-value">2012</p>
            </div>
            <div class="detail">
              <p class="detail-property">GUESTS</p>
              <p class="detail-property-value">12 in 6 cabins</p>
            </div>
            <div class="detail">
              <p class="detail-property">PRICE</p>
              <p class="detail-property-value">€21,000,000</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <a href="" id="yachts-section" class="rent-yacht">Yacht rental</a>
</section>
