/* ========================== MOBILE HEADER STYLES========================== */
.header {
  position: fixed;
  padding-top: 20px;
  z-index: 999;
  width: 90%;
  left: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  justify-content: space-between;
  margin: 0 auto;
  padding: 6px 20px;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logotype {
  text-decoration: none;
  color: #1b414b;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.42px;
}

.header-nav-list {
  display: none;
}

.header-social-media {
  display: none;
}

.header-mobile-menu-open-btn {
  stroke: #1b414b;
  display: flex;
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}
/* ========================== /MOBILE HEADER STYLES========================== */

/* ========================== TABLET HEADER STYLES========================== */
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
  }
  .header-container {
    max-width: 704px;
    padding: 4px 28px;
  }

  .header-logotype {
    color: #1b414b;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
  }

  .header-mobile-menu-open-btn {
    display: none;
  }

  .header-nav-list {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin: 4px 0 4px 137px;
    padding: 0;
  }

  .header-nav-list-item {
    display: flex;
    width: 91px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(27, 65, 75, 0.5);
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-list-item-link {
    text-decoration: none;
    color: #fbfbfb;
    text-align: center;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 11.7px */
    text-transform: uppercase;
    width: 91px;
    padding: 14px 0;
  }

  .header-nav-list-item:hover,
  .header-nav-list-item:focus {
    background-color: #1b414b;
  }

  .header-social-media {
    display: flex;
  }

  .header-social-media-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 4px;
  }

  .header-social-media-list-item {
    display: flex;
  }

  .header-social-media-list-item-link {
    text-decoration: none;
  }

  .header-svg {
    fill: #1b414b;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-svg:hover,
  .header-svg:focus {
    fill: #062730;
  }
}

/* ========================== /TABLET HEADER STYLES========================== */

/* ========================== DESKTOP HEADER STYLES========================== */

@media screen and (min-width: 1280px) {
  .header-nav-list {
    margin: 4px 0 4px 326px;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1080px;
    background-color: #fbfbfb;
    border-radius: 8px;
    border: 1px solid #fbfbfb;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
  }
  .header-social-media-list {
    gap: 8px;
  }
}
/* ========================== /DESKTOP HEADER STYLES========================== */

.header-mobile-menu-close {
  position: absolute;
  display: none;
  z-index: 999;
}

.header-mobile-menu-open-btn:active,
.header-mobile-menu-open-btn:focus .header-mobile-menu-close {
  display: block;
  opacity: 1;
}

.header-mobile-menu-open-btn:active,
.header-mobile-menu-open-btn:focus .mobile-menu-open-btn-icon {
  opacity: 0;
}

.header-mobile-menu-close > .close-link:active,
.close-link:focus .mobile-menu-open-btn-icon {
  opacity: 1;
}
