.page-hero {
  max-width: 375px;
  padding-top: 198px;
  padding-bottom: 243px;
  margin-left: auto;
  margin-right: auto;
}
.container-hero {
  display: block;
  padding: 0 20px;
  margin: 0 auto;
}
.hero-title {
  color: #fbfbfb;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.04em;
  margin-bottom: 24px;
  max-width: 335px;
}
.hero-text {
  color: rgba(251, 251, 251, 0.7);
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.16;
  margin-bottom: 38px;
}

.hero-yacht-rental-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 141px;
  height: 46px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  border-radius: 15px;
  background: #1b414b;
  margin: 0 auto;
  color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-yacht-rental-link:hover,
.hero-yacht-rental-link:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .page-hero {
    max-width: 768px;
    padding-top: 200px;
    padding-bottom: 215px;
  }
  .hero-title {
    max-width: 704px;
    margin-bottom: 24px;
    color: #fbfbfb;
    text-align: center;
    font-size: 70px;
    letter-spacing: -0.02em;
  }
  .hero-text {
    color: rgba(251, 251, 251, 0.7);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    width: 597px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero-yacht-rental-link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 179px;
    height: 52px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    border-radius: 15px;
    background: #1b414b;
    margin: 0 auto;
    color: #fbfbfb;
  }
}
@media screen and (min-width: 1280px) {
  .page-hero {
    max-width: 1280px;
    padding-top: 155px;
    padding-bottom: 180px;
  }
  .hero-title {
    max-width: 1001px;
    font-size: 80px;
    margin-right: auto;
    margin-left: auto;
  }
}
