.container-rent {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}

.rent-h {
  color: #fbfbfb;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.56px;
  margin: 80px 0 40px;
}

.rent-form {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 18px;
  flex-direction: column;
}

.rent-inp {
  width: 335px;
  height: 42px;
  padding-left: 18px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  max-height: 42px;
  color: #fbfbfb;
}

.rent-inp:active,
.rent-inp:focus,
.area-inp:active,
.area-inp:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.rent-inp::placeholder,
.area-inp::placeholder {
  color: rgba(251, 251, 251, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 116%;
}

.area-inp {
  width: 335px;
  height: 108px;
  padding: 14px 0 0 18px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  color: #fbfbfb;
}

.submit-form {
  width: 122px;
  height: 46px;
  border-radius: 15px;
  background-color: #1b414b;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 128%;
  letter-spacing: -0.28px;
  border: 0;
  margin: 40px 0 80px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-form:hover {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .area-inp,
  .rent-inp {
    width: 472px;
  }

  .container-rent {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .container-rent {
    flex-direction: row;
    gap: 50px;
  }
}
