body {
  color: var(--basic-white);
  background-color: var(--first-blue);
}
:root {
  --first-blue: #0e1823;
  --primary-blue: #040306;
  --first-button: #1b414b;
  --basic-white: #fbfbfb;
}
.rent-yacht {
  display: flex;
  max-height: 536px;
}
.rentdiv-part-first {
  display: flex;
}
.rentdiv-part-second {
  margin-left: 50px;
}
.label-rent {
  width: Hug 472px;
  height: Hug 54px;
  padding: 18px, 418px, 18px, 18px;
  border-radius: 12px;
  border: 1px;
  gap: 18px;
  angle: -0 deg;
}
.rent-h {
  margin: 0 auto;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: var(--basic-white);
  font-style: normal;
  letter-spacing: -0.96px;
}
.rent-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 50px;
  height: 332px;
  width: 472px;
  margin-top: 50px;
}
.rent-inp {
  width: 472px;
  height: 54px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-width: 1px;
  background-color: var(--first-blue);
  padding-left: 18px;
  font-size: 14px;
  color: rgba(251, 251, 251, 0.4);
  font-size: 14px;
  font-weight: 400px;
  font-style: normal;
}
.area-inp {
  width: 472px;
  height: 116px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-width: 1px;
  background-color: var(--first-blue);
  padding-left: 18px;
  padding-top: 18px;
  font-size: 14px;
  font-weight: 400px;
  font-style: normal;
}
.label-one {
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--first-blue);
}
.image-rent-1x {
  border-radius: 24px;
}
.container-rent {
  padding-left: 50px;
  padding-top: 150px;
  padding-bottom: 152px;
}
.submit-form {
  display: inline-flex;
  padding: 18px 75px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--first-button);
  border: none;
  border-radius: 15px;
  color: var(--basic-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.36px;
}

.submit-form:hover {
  color: var(--primary-blue);
  background-color: var(--basic-white);
}
.submit-form:focus {
  color: var(--primary-blue);
  background-color: var(--basic-white);
}
/*=======================================================================================================================================
DESKTOP 1280px
=======================================================================================================================================*/
@media screen and (min-width: 1280px) {
  .container-rent {
    max-width: 1280px;
    padding-top: 150px;
    padding-bottom: 152px;
    padding-left: 50px;
  }

  .image-rent-1x {
    max-width: 658px;
  }
}
/*=======================================================================================================================================
TABLET 768px
=======================================================================================================================================*/

@media screen and (min-width: 768px) {
  .container-rent {
    max-width: 768px;
    padding-left: 32px;
    display: flex;
    padding-bottom: 100px;
    align-items: start;
  }

  .rent-form {
    width: 473px;
  }
  .submit-form {
    display: inline-flex;
    justify-content: center;
  }
  .image-rent-1x {
    width: 768px;
    height: 534px;
  }
}

/*=======================================================================================================================================
MOBILE 375px
=======================================================================================================================================*/
@media screen and (min-width: 375px) {
  .container-rent {
    display: flex;
    max-width: 375px;
    padding-left: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: start;
  }

  .rent-h {
    font-size: 28px;
    margin: 0 auto;
  }

  .rent-form {
    width: 335px;
    margin-top: 40px;
  }

  .image-rent-1x {
    width: 335px;
    height: 412px;
    flex-shrink: 0;
    border-radius: 15px;
  }

  .submit-form {
    width: 122px;
    height: 46px;
    padding: 14px, 44px, 14px, 44px;
    border-radius: 15px;
  }
}
