/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* @import url(./base.css); */
@import url('./base.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./yachts.css');
@import url('./advantages.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./menu.css');
