.our-yachts-section {
  padding: 40px 0;
}
.container-our-yachts {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.title-our-yachts {
  color: #fbfbfb;
  max-width: 319px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.our-yachts-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.our-yachts-item {
  padding: 16px;
  max-width: 334px;
  background-color: #fbfbfb;
  border-radius: 24px;
}
.detail-our-yacht {
  padding: 32px;
}
.title-detail-our-yacht {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 16px;
}
.title-detail-our-yacht::after {
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(4, 3, 6, 0.1);
}
.our-yacht-name {
  color: #1b414b;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.our-yacht-segment {
  color: #040306;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  opacity: 0.4;
  text-transform: uppercase;
}

.our-yacht-info {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  color: #040306;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0, 03em;
}

.our-yacht-info-details-left {
  color: #040306;
  text-transform: uppercase;
  opacity: 0.4;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.18;
  letter-spacing: 0.03;
}

.our-yacht-info-details-right {
  display: flex;
  flex-direction: column;
  color: #040306;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.benetti {
  display: none;
}

.belle {
  display: none;
}

.link-rental-our-yacht {
  width: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 46px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-rental-our-yacht:hover,
.link-rental-our-yacht:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
@media (min-width: 768px) {
  .benetti {
    display: list-item;
  }

  .our-yachts-section {
    padding: 75px 0;
  }

  .container-our-yachts {
    padding: 0 32px;
  }

  .title-our-yachts {
    max-width: 645px;
    font-size: 48px;
    margin-bottom: 75px;
  }

  .our-yachts-list {
    gap: 32px;
    margin-bottom: 50px;
  }

  .our-yachts-item {
    max-width: 336px;
  }

  .our-yacht-name {
    width: 147px;
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .our-yacht-segment {
    font-size: 13px;
    line-height: 1, 18;
  }

  .link-rental-our-yacht {
    width: 179px;
    font-size: 18px;
    line-height: 1.1;
  }
}

@media (min-width: 1280px) {
  .belle {
    display: list-item;
  }

  .container-our-yachts {
    padding: 0 50px;
  }

  .title-our-yachts {
    max-width: 714px;
  }

  .our-yachts-list {
    gap: 25px;
  }

  .our-yachts-item {
    max-width: 377px;
  }

  .our-yacht-name {
    width: 177px;
  }
}
